extends layout
block content
  h1=title

  table
    thead
      tr
        td(align="center") TOP
        td(align="center") Nombre
        td(align="center") Puntuación
    tbody
      each dato, i in empresas
        tr
          td(align="center")
            p=i+1
          td
            p= dato.nombre
          td
            p= dato.puntuacion
