extends layout

block content
	h1 Ranking Empresas
	h2 Opciones:
	a(href='/inscribirEmpresa')
		h4 Añadir nueva empresa.
	a(href='/inscribirAlumno')
		h4 Añadir nuevo alumno.
	a(href='/votos?id=0')
		h4 Votar empresa.
	a(href='/votos?id=1')
		h4 Descontar voto.
	h2 Consultas:
	a(href='/clasificacion')
		h4 Ranking de empresas.
